*{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body {
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}

button {
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}

table {
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse:separate; 
    border-spacing: 0 1em;
}
  
tr {
    background-color: #F5F5FB;
    height: 75px;
    border-radius: 10px;
    border: 20px black;
    transition: all 0.2s;
}

a {
    color: #1D1D35;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

.trEditTitle {
    background-color: white;
    height: 20px;
}

.editTitle {
    text-decoration: underline;
}

.titleText {
    margin-right: 10px;
}

.editDescription{
    padding: 10px;
    text-decoration: underline;
}

.textarea1 {
    margin: 30px;
    background-color: #F5F5FB;

    height: 125px;
    width: 90%;
    border-radius: 10px;
    border: 20px black;
    transition: all 0.2s;
}

.textarea1 textarea {
    overflow: hidden;
    justify-content: space-between;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    width: 34.5%;
    height: 9%;
}

.saveButtonContainer{
    background-color: #27BE6B;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-left: auto; 
    margin-right: 0;
}

#saveButton {
    color: #27BE6B;
}

.tableContainer{
    margin: auto;
    margin-top: 50px;
    width: 70%;
}

.buttonContainer{
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-left: auto; 
    margin-right: 0;
}

.tableTitle, .buttonArea {
    width: 10%;
    text-align: center;
    color: #1D1D35;
}


.deleteButton {
    color: #FF0000;
}

.descriptionText {
    font-weight: lighter;
    padding: 20px;
    font-size: 14px;
    color: #1D1D35;
}

.buttons{
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    color: #1D1D35;
}

#backButton {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 50px;
}

/* -------------------------------------------- */

/* Responsive Index */

/* When the browser is at least 500px and below */
@media screen and (max-width: 650px) {
    #cards{
        height: 100%;
        margin-top: 50px;
    }
}



/* -------------------------------------------- */
/* -------------------------------------------- */

/* Responsive Index */

/* When the browser is at least 500px and below */
@media screen and (max-width: 500px) {
    #cards{
        height: 100%;
        margin-top: 50px;
    }
    .descriptionText{
        float:right;
        padding: 20px 20px 0px 20px;
    }
    .tableTitle{
        float: left;
        width: 30%;
        margin-top: 20px;
    }
    .buttonArea{
        float: left;
        margin: 10px;
    }
}



/* -------------------------------------------- */

/* -------------------------------------------- */
/* -------------------------------------------- */

/* Responsive InsertEditThinkingTraps */

/* When the browser is at least 500px and below */
@media screen and (max-width: 500px) {
    .textarea1{
     margin: 20px 0px 0px 0px;
    }
    .titleText{
        margin-left: 10px;
    }
}



/* -------------------------------------------- */

