/* TAGS */
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}


li {
    list-style: none;
    padding: 4px;
}
ul{
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
}

/* Classes */
/* -------------------------------------------- */
.active{
    font-size: 20px;
}
.sidebar ul li .tooltip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 160px;
    color: white;
    font-size: 12px;
    background-color: #1D1D35;
    opacity: 85%;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.sidebar ul li:hover .tooltip{
    visibility: visible;
}


/* ID's */
/* -------------------------------------------- */
#sidebarContainer {
    height: 100%;
    width: 82px;
    border-radius: 20px;
    background-color: #27be6b;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
}
 img{
    height: 49px;
    width: 49px;
}

#dashboard{
    border-bottom: 3px solid white;
    margin-bottom: 20px;
}
#codex{
    border-top: 3px solid white;
    margin-top: 20px;
}

/* Optie1 */

.container {
    max-width: 90%;
    margin: auto;
}

.flex-grid {
    color: green;
    display: flex;
    margin: auto -1rem 1rem;
}

.col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}

.sidebar {
    flex: 0;
    height: 100%;
}

.main {
    flex: 3;
    border: medium dashed green;
}