/*een root aanmaken voor hergebruiken van variabele*/
:root {
    --bg-color: #F5F5FB;
    --card-color: #27be6D;
}

/* TAGS */
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
}

li {
    list-style: none;
}

/* Classes */
/* -------------------------------------------- */
.active{
    font-size: 20px;
}
.sidebar ul li .tooltip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: fit-content;
    color: white;
    background-color: #1D1D35;
    opacity: 85%;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.sidebar ul li:hover .tooltip{
    visibility: visible;
}


/* ID's */
/* -------------------------------------------- */
#sidebarContainer {
    height: 600px;
    width: 150px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #129651;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
}

#cards {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);

}

.card {
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    width: 300px;
    position: relative;

}




.card > .cardContent {
    height: calc(100% - 2px);
    margin: 1px;
    width: calc(100% - 2px);
    background-color: var(--card-color);
    border-radius: inherit;
    font-family: inherit;
    position: relative;
    box-shadow: 2px 4px 4px  rgb(0 0 0 / 40%)

}

.cardContent img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cardContent p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: #F5F5FB;
    font-family: 'Poppins', sans-serif;
}


/* Klein opzetje voor het geval we gebruik willen maken van een hover effect over de kaarten. (LET OP!! Dit is wel gewenst door de opdrahtgever) */
.card:hover {
    transition: opacity 0.2s ease-in-out ;
    border-color: #F5F5FB;
    box-shadow: 0 0 10px #F5F5FB;
    opacity: 0.8;
}