/* TAGS */
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
    min-height: 100%;
}


li {
    list-style: none;
}
ul{
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
}

/* Classes */
/* -------------------------------------------- */
.active{
    font-size: 20px;
}

/* ID's */
/* -------------------------------------------- */
#sidebarContainer {
    height: 75vh;
    width: 92px;
    border-radius: 20px;
    background-color: #27be6b;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-left: 80px;
}
 img{
    height: 49px;
    width: 49px;
}
