/*een root aanmaken voor hergebruiken van variabele*/
:root {
    --bg-color: #F5F5FB;
    --card-color: #27be6D;
}

/* TAGS /
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
}

li {
    list-style: none;
}

<<<<<<< Updated upstream
=======
/ Classes /
/* -------------------------------------------- */
>>>>>>> Stashed changes
.active{
    font-size: 20px;
}

<<<<<<< Updated upstream
=======
/ ID's /
/* -------------------------------------------- */
>>>>>>> Stashed changes
#sidebarContainer {
    height: 600px;
    width: 150px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #129651;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative;
}

#cards {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);

}

.card {
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    width: 300px;
    position: relative;

<<<<<<< Updated upstream
}




.card > .card-content {
    height: calc(100% - 2px);
    margin: 1px;
    width: calc(100% - 2px);
    background-color: var(--card-color);
    border-radius: inherit;
    font-family: inherit;
    position: relative;
    box-shadow: 2px 4px 4px  rgb(0 0 0 / 40%)

}

.card-content img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-content p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: #F5F5FB;
    font-family: 'Poppins', sans-serif;
}

/* Klein opzetje voor het geval we gebruik willen maken van een hover effect over de kaarten. (LET OP!! Dit is wel gewenst door de opdrahtgever) */

.card:hover {
    border: 100px #F5F5FB;
    opacity: 1;
}

.card::before {
    opacity: 0;
}

.card:hover:before {
    border: 100px #F5F5FB;
    opacity: 1;
}
.card:hover {
    border-color: #F5F5FB;
    box-shadow: 0 0 10px #F5F5FB;
    opacity: 0.8;
}

=======
}




.card > .card-content {
    height: calc(100% - 2px);
    margin: 1px;
    width: calc(100% - 2px);
    background-color: var(--card-color);
    border-radius: inherit;
    font-family: inherit;
    position: relative;
    box-shadow: 2px 4px 4px  rgb(0 0 0 / 40%)

}

.card-content img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.card-content p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    color: #F5F5FB;
    font-family: 'Poppins', sans-serif;
}

/Klein opzetje voor het geval we gebruik willen maken van een hover effect over de kaarten. (LET OP!! Dit is wel gewenst door de opdrahtgever)*/
.card:hover::before {
    opacity: 1;
}

.card::before {
}
>>>>>>> Stashed changes
