/* TAGS */
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}


li {
    list-style: none;
    padding: 4px;
}
ul{
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
}

/* Classes */
/* -------------------------------------------- */
.active{
    font-size: 20px;
}

/* ID's */
/* -------------------------------------------- */
#sidebarContainer {
    height: 600px;
    width: 150px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: #27be6b;
}