/* TAGS */
/* -------------------------------------------- */
body
{
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D35;
}

li {
    list-style: none;
    padding: 4px;
}
ul{
    padding: 0;
}
nav{
    display: flex;
    justify-content: center;
}

header{
    margin-bottom: 25px;
}

/* Classes */
/* -------------------------------------------- */
.active{
    font-size: 20px;
}

.writeAreaContainer{
display: flex;
}

.buttonsArea {
    background-color: #FFFFFF;
    width: 955px;
    height: 130px;
    border-radius: 17px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    padding: 20px;
}
.textArea{
    margin-top: 70px;
    margin-right: 35px;
    background-color: #FFFFFF;
    width: 307px;
    height: 332px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    border-radius: 20px;
}

.buttonWrite{
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
    font-weight: 600;
    font-size: inherit;
    color: #1D1D35;
}

/* ID's */
/* -------------------------------------------- */

#sidebarContainer {
    height: 100%;
    width: 92px;
    border-radius: 20px;
    background-color: #27be6b;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
}
img{
    height: 49px;
    width: 49px;
}

#dashboard{
    border-bottom: 3px solid white;
    margin-bottom: 20px;
}
#codex{
    border-top: 3px solid white;
    margin-top: 20px;
}

#writeArea1, #writeArea2, #writeArea3{
    margin: 30px;
    background-color: #F5F5FB;
    width: 195px;
    height: 220px;
    border-radius: 10px;
    border: none;
    padding: 26px;

    font-family: 'Poppins', sans-serif;
    color: #1D1D35;
    transition: all 0.2s;

}

#writeArea1:hover, #writeArea2:hover, #writeArea3:hover{
    cursor: pointer;
    background-color: #f1f1f7;
    border-color: #27be6b;
}

/* Optie1 */

.container {
    max-width: 90%;
    margin: auto;
}

.flex-grid {
    color: green;
    display: flex;
    margin: auto -1rem 1rem;
}

.col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}

.sidebar {
    flex: 0;
}

.main {
    flex: 3;
    border: #FFFFFF;
}

/* Basic Styling *\
/* -------------------------------------------- */

textarea{
    padding: 12px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #F5F5FB;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 24px;
}
textarea:hover{
    cursor: pointer;
    background-color: #f1f1f1;
}

