/* -------------------------------------------- */
/* Base Styling*/
/* -------------------------------------------- */

/*
  3. Allow percentage-based heights in the application
  4. Add accessible line-height
  5. Improve text rendering
*/
html, body {
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


body
{
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}
h3{
    font-family: 'Poppins', sans-serif;
    color: #1D1D35;
}
h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D35;
}
textarea { resize: none; }

/* -------------------------------------------- */
/* Sidebar */
/* -------------------------------------------- */

li {
    list-style: none;
    padding: 4px;
}
ul {
    padding: 0;
}
nav {
    display: flex;
    justify-content: center;
}
/* Tooltip sidebar */
.sidebar ul li .tooltip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: fit-content;
    color: white;
    background-color: #1D1D35;
    opacity: 85%;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
/* Tooltip sidebar */
.sidebar ul li:hover .tooltip{
    visibility: visible;
}
/* Container sidebar */
#sidebarContainer {
    height: 100%;
    width: 82px;
    border-radius: 20px;
    background-color: #27be6b;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
}
/* Icons in sidebar */
img{
    height: 49px;
    width: 49px;
}
/* White line in sidebar */
hr{
    border-top: 2px solid white;
    width: 80%;
    border-style: solid;
    border-color: white;
}
/* -------------------------------------------- */




/* -------------------------------------------- */
/* Main Layout */
/* -------------------------------------------- */
.container {
    max-width: 90%;
    margin: auto;
}
.flexGrid {
    color: green;
    display: flex;
}
.sidebar {
    flex: 0;
    height: 100%;
    padding-top: 4%;
}
.main {
    flex: 3;
    border: medium dashed green;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
}
/* -------------------------------------------- */


/* -------------------------------------------- */
/* Classes */
/* -------------------------------------------- */

/* Active sidebar */
.active {
    border-left: 6px solid white;
    margin-left: -13px;

}
.active a{
    padding-left: 8px;
}


/* -------------------------------------------- */



/* -------------------------------------------- */
/* thinkingTraps */
/* -------------------------------------------- */

.columnWithButtons {
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    /*width: fit-content;*/
    color: black;
    padding: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-top: 36px;
    margin-left: 82px;
    margin-right: 60px;
    width: 331px;

}
.columnWithTextAreas {
    background-color: white;
    border-radius: 10px;
    height: 90%;
    width: 670px;
    padding: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-left: 10px;
    margin-top: 36px;

}
#buttonContainer {
    font-family: 'Poppins', sans-serif;
    border: none;
}
.buttons {
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}
.column-content h3 {
    width: fit-content;
    font-family: 'Poppins', sans-serif;
}
.textArea1, .textArea2, .textArea3 {
    margin: 30px;
    background-color: #F5F5FB;
    width: 580px;
    height: 125px;
    border-radius: 10px;
    border: 20px black;
    font-family: 'Poppins', sans-serif;
    color: #c0c0cc;
    transition: all 0.2s;
}
.columnContent {
    display: grid;
    justify-content: space-between;
    width: 340px;
    height: 60%;
    grid-gap: 10px;
}
.textArea1 textarea, .textArea2 textarea, .textArea3 textarea {
    overflow: hidden;
    justify-content: space-between;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    width: 540px;
    height: 78px;
}
/* -------------------------------------------- */


/* -------------------------------------------- */
/* selfDevelopment */
/* -------------------------------------------- */

header{
    margin-bottom: 25px;
    margin-left: 82px;
}
.writeAreaContainer{
    display: flex;
    margin-left: 82px;
}
.buttonsAreaContainer {
    background-color: #FFFFFF;
    width: 955px;
    height: 130px;
    border-radius: 17px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    padding: 20px;
    margin-left: 82px;
}
.textArea{
    margin-top: 70px;
    margin-right: 35px;
    background-color: #FFFFFF;
    width: 307px;
    height: 332px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    border-radius: 20px;
}
.buttonWrite{
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 8px;
    font-weight: 600;
    font-size: inherit;
    color: #1D1D35;
}
#writeArea1, #writeArea2, #writeArea3{
    margin: 30px;
    background-color: #F5F5FB;
    width: 195px;
    height: 220px;
    border-radius: 10px;
    border: none;
    padding: 26px;

    font-family: 'Poppins', sans-serif;
    color: #1D1D35;
}
#writeArea1:hover, #writeArea2:hover, #writeArea3:hover{
    cursor: pointer;
    background-color: #f1f1f7;
    border-color: #27be6b;
}
textarea{
    padding: 12px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #F5F5FB;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 24px;
}
textarea:hover{
    cursor: pointer;
    background-color: #f1f1f7;
}
/* -------------------------------------------- */



/* -------------------------------------------- */
/* myBiasPage */
/* -------------------------------------------- */
.card{
    width: 300px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin-bottom: 15px;
}
.header{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.content{
    padding-left: 19px;
    max-width: 260px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.biasButton{
    width: auto;
    height: 40px;
    background: #F5F5FB;
    border-radius: 10px;
    border: none;
    transition: ease-in 0.1s;
}
.activeButton{
    background: #A5A5F8;
}
/* -------------------------------------------- */




/* TODO: IDK WHAT DIT IS */
/* 
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
} */

/* Speciaal voor Shawn, changed the name to fix your page layout. BUT WHY??? Have to fix it for later.  */
.col_main{
    display: flex;
}


.biasButton .tooltip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 300px;
    color: white;
    background-color: #1D1D35;
    opacity: 85%;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 5px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 3s;
}

.biasButton:hover .tooltip{
    visibility: visible;
    transition-delay: 0s;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #A5A5F8;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

