/* TAGS */
/* -------------------------------------------- */
body {
    background-color: #F5F5FB;
    min-height: 100%;
    margin: 0 auto;
}


li {
    list-style: none;
    padding: 4px;
}

ul {
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
}

/* Classes */
/* -------------------------------------------- */
.active {
    font-size: 20px;
}

/* ID's */
/* -------------------------------------------- */
#sidebarContainer {
    height: 100%;
    width: 92px;
    border-radius: 20px;
    background-color: #27be6b;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
}

img {
    height: 49px;
    width: 49px;
}

#dashboard {
    border-bottom: 3px solid white;
    margin-bottom: 20px;
}

#codex {
    border-top: 3px solid white;
    margin-top: 20px;
}

/* Optie1 */

.container {
    max-width: 90%;
    margin: auto;
}

.flex-grid {

    display: flex;
    margin: auto -1rem 1rem;
}

.col {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    display: flex;
}

.sidebar {
    flex: 0;
}

/*.main {*/
/*    flex: 1;*/
/*    border: medium dashed green;*/
/*}*/


.columnWithButtons {
    background-color: white;
    border-radius: 10px;
    height: 51%;
    /*width: fit-content;*/
    color: black;
    padding: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-top: 36px;
    margin-left: 82px;
    margin-right: 150px;
    width: 331px;

}

.columnWithTextAreas {
    background-color: white;
    border-radius: 10px;
    height: 90%;
    width: 670px;
    padding: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 0.40);
    margin-left: 10px;
    margin-top: 36px;

}

#buttonContainer {
    font-family: 'Poppins', sans-serif;
    border: none;
}

.buttons {
    padding: 10px;
    margin: 3px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}


h3 {
    width: fit-content;
    height: 14px;
    font-family: 'Poppins', sans-serif;
}

.column-content {
    display: grid;
    justify-content: space-between;
    width: 340px;
    height: 60%;
    grid-gap: 10px;
}

.textArea1, .textArea2, .textArea3 {
    margin: 30px;
    background-color: #F5F5FB;
    width: 559px;
    height: 50px;
    border-radius: 10px;
    border: 20px black;
    padding: 26px;
    font-family: 'Poppins', sans-serif;
    color: #c0c0cc;
    transition: all 0.2s;
}

.textArea1 textarea, .textArea2 textarea, .textArea3 textarea {
    overflow: hidden;
    justify-content: space-between;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    width: 35%;
    height: 9%;
}

